/*Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}


h1, h2 {
  color: #333;
  text-align: center;
}


label {
  font-weight: bold;
}


/* Busqueda y resultados */
.search-container {
text-align: center;
margin-top: 20px;
}


#results-container {
margin-top: 20px;
}


/* Proyectos y eventos */
#projects-container div,
#results-container div {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 12px;
  margin: 8px auto;
  border-radius: 6px;
  width: 80%;
  transition: box-shadow 0.3s;
}


#proyect-container div:hover,
#results-container div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* Formulario y botones */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
}


input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


input[type="submit"],
button {
padding: 8px 16px;
background-color: #28a745;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
}


input[type="submit"]:hover,
button:hover {
background-color: #218838;
}


/* Secciones */
#donation-info,
#project-info,
#event-registration,
#notifications-container {
  margin-top: 40px;
  text-align: center;
}


/* Notificaciones */
#notifications-list {
  list-style-type: square;
  padding-left: 20px;
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
}
